/* link , visited, hover, active */

a:link{
    color: orange;
}

a:visited{
    color: red;
}

a:hover{
    color: cadetblue;
}

a:active{
    color: black;
}

input:focus{
padding: 5px;
outline: none;
border: 2px solid rgb(115, 247, 7);
     
}
 
input:required{
    color: rgb(255, 0, 0);
}

/* p:hover{
  color: green;
}

p:active{
background-color: black;
} */

p::first-letter{
    font-size: 40px;
}

::selection{
color: red;
background-color:black;
}