/* html{
    font-size: 10px;
}

.box1{
font-size: 2rem;
}

.text{
    font-size: 3rem;
    border: 1rem solid red;
    margin: 4.5rem;
    padding: 4.5rem;
} */

/* .box{
    border: 2px solid red;
    width: 50%;
    padding: 5px;
}

h1{
    border:2px solid green;
    width: 70vw;
} */

.box{
   
    height: 100vmax;
    background-color: aquamarine;
}   